.main.text {

}

.main.text div {
    margin: 10px 10px 10px 0;
}

.main.text div p {
    margin-left: 10px;
}

.main.text div ul{
    list-style: none;
}

.main.text div ul li{
    margin: 4px 0 4px 19px;
}