* {
    margin: 0;
    padding: 0;
    border-collapse: collapse;
}

h2 {
    font-size: 1.125em;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Segoe UI", Calibri, "Trebuchet MS", sans-serif;;
}

#wrapper {
    margin: auto;
    width: 1000px;
}

#header {
    background: #aaa;
    height: 60px;
}

#header #logo h1 {
    color: #fff;
    font-size: 24px;
    margin: 0;
    padding: 2px 0 0 0;
    margin: 0px 0 0 5px;
}

#header #logo p {
    color: #fff;
    font-size: 14px;
    margin: 3px 0 0 5px;
    padding: 0;
}