<h1>plumbus/{{ data.componentName }}</h1>
<div>
    <a href="https://packagist.org/packages/plumbus/{{ data.componentName }}">https://packagist.org/packages/plumbus/{{ data.componentName }}</a>
</div>
<div>
    {% include 'module/html/components/' ~ data.componentName ~ ".twig" with {debug : debug, data : data} %}
</div>