<div class="main text">
    <div>
        <h1>Plumbus</h1>
        <p>Plumbus - PHP фреймворк для создания быстрых сайтов. В основу положено несколько базовых принципов:</p>
        <ul>
            <li>Не должно быть ни одного notice или warning в ядре фреймворка</li>
            <li>Принцип "пчелиного улья" - любая страница сайта на Plumbus состоит из <a
                        href="/docs/module/">модулей</a>, которые никак не связаны между собой. Любой
                модуль может быть помещен в любое место на любую страницу простой правкой конфигурационного файла.
            </li>
            <li>Принцип <a href="/docs/caching/">кеширования</a> ответа - любой модуль может быть выполнен в отдельном
                потоке (через ssi). Любой ssi модуль может быть закеширован посредством nginx кеша на заданное в
                конфигурации время.
            </li>
            <li><a href="/component/plumbus/injectable">DI с помощью трейтов</a> - используются трейты для обеспечения
                Dependency Injection.
            </li>
        </ul>
    </div>
    <div>
        <h2>Основные компоненты</h2>
        <ul>
            <li>Ядро приложения <a href="/component/plumbus/application">plumbus/application</a> - обеспечивает
                выполнение запросов по принципу пчелиных сот - любая страница описывается конфигурацией модулей в
                лайауте.
            </li>
            <li>
                Dependency injection <a href="/component/plumbus/injectable">plumbus/injectable</a> - обеспечивает
                хранение ссылок на компоненты, служит для внедрения зависимостей в ядре и прочих компонентах.
            </li>
            <li>Набор классов <a href="/component/plumbus/authorization">plumbus/authorization</a> - обеспечивают
                авторизацию при помощи социальных сетей.
            </li>
            <li>Коннектор баз данных <a href="/component/plumbus/database">plumbus/database</a> - реализует
                основные методы для взаимодействия с базами данных в виде обёртки над dbal.
            </li>
            <li>Роутер <a href="/component/plumbus/router">plumbus/router</a> - простой роутер для сайта, по строке
                запроса возвращающий ключ нужной страницы и набор переменных, полученный из пути запроса.
            </li>
            <li>Готовый проект на фреймворке <a href="/component/plumbus/project">plumbus/project</a> - проект для
                быстрого старта на фреймворке. Содержит все основные компоненты и примеры их использования.
            </li>
            <li></li>
        </ul>
    </div>
    <div>
        <h2>Ссылки</h2>
        <ul>
            <li>Проект на packagist.org: <a href="https://packagist.org/packages/plumbus/">https://packagist.org/packages/plumbus/</a>
            </li>
            <li>Команда в bitbucket: <a href="https://bitbucket.org/plumbusteam/">https://bitbucket.org/plumbusteam/</a>
            </li>
        </ul>
    </div>
</div>