<!DOCTYPE html>
<html>{% include 'html/head.twig' with {page : page, debug : debug} %}
<body>
<div id="wrapper">
    <div id="header">
        <div id="logo">
            <h1>Plumbus project</h1>
            <p>Простой и быстрый движок на PHP</p>
        </div>
        <div class="head">{% include 'internal/block.twig' with {debug : debug, block : 'head', data : data} %}</div>
    </div>
    <div id="content">
        <div>{% include 'internal/block.twig' with {debug : debug, block : 'content', data : data} %}</div>
    </div>
    <div id="footer">
        <div>{% include 'html/footer.twig' %}</div>
    </div>
</div>
</body>
</html>